### Student Performance Indicator
#### Life Cycle of Machine Learning Project
- Understanding the Problem Statement.
- Data Collection.
- Data Checks to perform.
- Exploratory data analysis.
- Data Pre-Processing.
- Model Training.
- Choose best model.

#### Problem Statement
- This project explores how the student performance or test scores are affected by other variables such as parental level of education and test preperation course.

#### Data Collection
- The data consists of 8 columns and 1000 rows.

#### Import Data and Required Packages

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Importing CSV Dataset as Pandas Dataframe

In [4]:
df = pd.read_csv("data/stud.csv")

### Showing the head of the dataset, i.e the first 5 records

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

### Shape of the dataset - This dataset has 8 columns and 1000 samples

In [6]:
df.shape

(1000, 8)

### Information about the Dataset
 - Gender: Sex of students -> (Male | Female)
 - Race/Ethnicity: Ethnicity of students -> (Group A, B,C,D,E)
 - Parental level of education: Parent's final education ->(Bachelor's degree, College, High School)
 - Lunch: Having Lunch before a test ->(standard or free/reduced)
 - Test Preperation Course: Complete or not completed before test
 - Maths Score
 - Reading Score
 - Writing Score

### Data Checks to perform
- Check for Missing values.
- Check for Duplicates.
- Check for data type.
- Check the number of unique values of each column.
- Check statistics of data set.
- Check various categories present in different categorical columns.

### Checking for Missing Values

In [7]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

### Checking for any duplicates

In [8]:
df.duplicated().sum()

np.int64(0)

### Check the data types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

### Check the number of unique values of each columns

In [10]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

### Checking the statistics of dataset

In [11]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

### Insights
- All the means are close to each other between 66 and 68.
- All the standard deviations are also close to each other, between 14 and 15.
- While there is a minimum score of 0 for math, for writing is much higher as well for reading.

### Exploration of Data

In [17]:
print("Categories in 'gender' variable:    ",end=" ")
print(df['gender'].unique())

print("Categories in 'race/ethnicity' vairable:    ",end = " ")
print(df['race_ethnicity'].unique())

print("Categories in 'parental level of education' variable:    ",end = " ")
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" ")
print(df['lunch'].unique())

print("Categories in 'test preperation course' variable:      ",end=" ")
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:     ['female' 'male']
Categories in 'race/ethnicity' vairable:     ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in 'parental level of education' variable:     ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preperation course' variable:       ['none' 'completed']

In [18]:
#Determine Numerical and Categorical Columns

numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [19]:
numeric_features

['math_score', 'reading_score', 'writing_score']

In [20]:
categorical_features

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course']

In [21]:
print("We have {} numerical features: {}".format(len(numeric_features), numeric_features))
print("We have {} categorical features: {} ".format(len(categorical_features),categorical_features))

We have 3 numerical features: ['math_score', 'reading_score', 'writing_score']
We have 5 categorical features: ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

In [23]:
### Addition of columns for total score and average

df['total score'] = df['math_score'] + df['reading_score'] + df['writing_score']
df['average'] = df['total score']/3
df.head(2)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333

In [24]:
reading_full = df[df['reading_score'] == 100]['average'].count()
writing_full = df[df['writing_score'] == 100]['average'].count()
math_full = df[df['math_score'] == 100]['average'].count()

print(f"Number of students with full marks in Maths: {math_full}")
print(f"Number of students with full marks in Writing {writing_full}")
print(f"Number of students with full marks in reading: {reading_full}")

Number of students with full marks in Maths: 7
Number of students with full marks in Writing 14
Number of students with full marks in reading: 17

In [26]:
reading_less_20 = df[df['reading_score'] <= 20]['average'].count()
math_less_20 = df[df['math_score'] <= 20]['average'].count()
writing_less_20 = df[df['writing_score'] <= 20]['average'].count()

print(f"Number of students with less than 20 marks in reading: {reading_less_20}")
print(f"Number of students with less than 20 marks in Writing: {writing_less_20}")
print(f"Number of students with less than 20 marks in Maths: {math_less_20}")

Number of students with less than 20 marks in reading: 1
Number of students with less than 20 marks in Writing: 3
Number of students with less than 20 marks in Maths: 4

### Insights
- From above values we get more students performing worst in Maths.
- Best performance is in reading section.